/* start Variables */
:root {
    --main-color: #b08d57;
    --secondary-color: #d4af37;
    --section-padding: 100px;
}
/* end Variables */
/* start Global Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small screen */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium screen */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end Global Rules */
/* start component */
.main-heading {
    text-align: center;
    margin-bottom: 100px;
}

.main-heading h2 {
    font-size: 30px;
    letter-spacing: -2px;
    word-spacing: 2px;
    color: rgb(36, 36, 36);
    text-shadow: 3px 3px 2px var(--main-color);
}

@media (max-width: 768px) {
    .main-heading h2 {
        font-size: 25px;
    }
    .main-heading {
        margin-bottom: 70px;
    }
}
/* end component */
/* start header */
header {
    position: relative;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo h1 {
    font-family: "Fjalla One", sans-serif;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    padding: 40px 10px;
    color: black;
    font-weight: 700;
}

header nav ul li:hover a {
    color: var(--main-color);
}

header nav .menu {
    display: none;
    font-size: 30px;
}

@media (max-width: 767px) {
    header nav ul {
        display: none;
    }
    header nav .menu {
        display: flex;
    }
    header nav .menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.644);
        z-index: 999;
    }
    header nav ul li {
        padding: 15px;
        border-bottom: 1px solid white;
    }
    header nav ul li a {
        color: white;
    }
}
/* end header */
/* start landing */
.landing {
    height: 80vh;
    background-image: url(../photo/landingbg.jpg);
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.322);
}

.landing .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    color: var(--secondary-color);
    padding: 20px;
}

.landing .text h3,
.landing .text h2 {
    font-size: 25px;
    margin-bottom: 3px;
}

.landing .text h1 {
    font-size: 36px;
    font-weight: 800;
}

@media (max-width: 767px) {
    .landing .text h3,
    .landing .text h2 {
        font-size: 18px;
    }
    .landing .text h1 {
        font-size: 25px;
    }
    .landing .text {
        top: 75%;
        background-color: rgba(0, 0, 0, 0.582);
    }
}
/* end landing */
/* start most-famous-works */
.most-famous-works {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.most-famous-works .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
}

.most-famous-works .content .card {
    width: 330px;
    padding: 20px;
}

.most-famous-works .content .card h3 {
    margin-bottom: 20px;
}

.most-famous-works .content .card img {
    width: 100%;
    margin-bottom: 10px;
}

.most-famous-works .content .card p {
    font-size: 20px;
    font-weight: 500;
}
/* end most-famous-works */
/* start about */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 768px) {
    .about .content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
}

.about .content .text {
    min-width: 60%;
    padding-left: 50px;
}

.about .content .text p {
    font-weight: 500;
    line-height: 2;
}

.about .content .image {
    padding-right: 70px;
}

.about .content .image img {
    width: 250px;
}
@media (max-width: 768px) {
    .about .content .text {
        text-align: center;
        padding: 20px;
    }
    .about .content .image {
        padding: 20px;
    }
}
/* end about */
/* start upcoming work */
.upcoming-work {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.upcoming-work .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 50px;
    margin-bottom: 50px;
}

.upcoming-work .content .card {
    width: 300px;
}

.upcoming-work .content .card .two,
.upcoming-work .content .card .three {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-color);
    position: relative;
}

.upcoming-work .content .card .two h1,
.upcoming-work .content .card .three h1 {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

.upcoming-work .content .card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.171);
}

.upcoming-work .content .card .image img {
    width: 300px;
}

.upcoming-work .content .card h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.upcoming-work .content .card p {
    line-height: 1.6;
    font-weight: 500;
}

.upcoming-work .news {
    padding: 20px;
    width: 100%;
}

.upcoming-work .news h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

.upcoming-work .news h5 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 700;
}

.upcoming-work .news p {
    font-weight: 500;
    margin-bottom: 20px;
}
/* end upcoming work */
/* start his views on some occasions */
.his-views {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.his-views .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column: 60px;
    row-gap: 60px;
    place-items: center;
}

.his-views .content .ved {
    width: 300px;
    height: 370px;
}

.his-views .content .ved iframe {
    width: 300px;
    height: 300px;
}

.his-views .content .ved p {
    font-weight: 500;
    height: 70px;
}
/* end his views on some occasions */
/* start footer */
footer {
    padding: 50px;
    color: white;
    background-color: black;
}

footer .container {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    gap: 20px;
    margin-bottom: 20px;
}

footer .container .menu h3 {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
}

footer .container .menu ul li {
    margin-bottom: 5px;
}

footer .container .menu ul li a {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

footer p {
    text-align: center;
}

@media (max-width: 768px) {
    footer .container .menu h3 {
        font-size: 10px;
    }
    footer .container .menu ul li a {
        font-size: 8px;
    }
}
/* end footer */